.formContainer {
  max-width: 400px;
  margin: 0 auto;
}

.formTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.inputContainer {
  margin-bottom: 15px;
}

.inputContainer input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.inputContainer label {
  font-size: 16px;
  margin-bottom: 5px;
}

.submitButton {
  display: block;
  margin: 0 auto;
  background-color: #156963;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:hover {
  background-color: #175c57;
}
